.page{
    width: 95%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(171, 173, 171);
    -webkit-transition: .4s;
    transition: .4s;
}


.slider1:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider1 {
    background-color: #2196F3;
}

input:focus+.slider1 {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider1:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}


.slider1.round {
    border-radius: 34px;
}

.slider1.round:before {
    border-radius: 50%;
}

.inputField {
    height: 50px;
    margin: 12px 0;
    border-Width: 1px;
    padding: 10px;
}
 .heading{
     font-family: inherit;
     font-weight: var(--p-font-weight-semibold);
     line-height: 1.2;
     display: block;
     margin-block-end: 0.83em;
     font-size: var(--p-font-size-6);
 }



.item-container{
    border-radius: 10px;
    margin: 5px 0 5px 0;
}
 .item-container:hover{
     background-color: #f7f7f7;
     display: block;
     transform: scale(1.03);
     cursor: move;
     border-radius: 10px;
 }

 #list{
     padding: 10px;
 }

 .barPosition{
     width: 100%;
     display: flex;
     margin-top: 2em;
 }
.horizontal{
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: 0;
    z-index: 0;
}
.vertical{
    text-align: center;
    width: 40%;
    z-index: 0;
}


 .circle{
     display: inline-block;
     width: 50px;
     height: 50px;
     background: #75747a;
     margin: 10px 10px 0 0;
     border-radius: 25px;
     cursor: pointer;
 }

.circle:hover{
    scale: 1.2;
}

 .rectangle{
     display: inline-block;
     width: 50px;
     height: 50px;
     background: #75747a;
     margin: 10px 10px 0 0;
     cursor: pointer;
 }
.rectangle:hover{
    scale: 1.2;
}

.circleShape{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #89f161;
    margin: 10px 10px 0 0;
    border-radius: 25px;
    cursor: pointer;
}

.circleShape:hover{
    scale: 1.2;
}

.rectangleShape{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #89f161;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.rectangleShape:hover{
    scale: 1.2;
}

.selectColorText{
    vertical-align: text-bottom;
    display: inline-block;
    margin: 3px 0 0 5px;
    font-weight: 550;
    align-items: baseline;
}

.selectColor{
    display: inline-block;
    width: 17px;
    height: 15px;
    background: #89f161;
    margin: 3px 0 0 5px;
    cursor: pointer;
}
.editIcon{
    margin: 20px 0 0 0;
}

.shape{
    margin: 0 0 0 20px;
}

.inputShape {
    display: inline-block;
    margin: 0 5px 10px 0;
}

.selectTitle{
    z-index: 22;
}

/*-------------------------------------------------------------------------------------------------*/

.listItem{
    display: flex;
    font-weight: 600;
    font-size: initial;
    line-height: 2
}

.planName{
    background-color: #008060;
    width: fit-content;
    padding: 2px 7px;
    border-radius: 4px;
    color: #f6f6f7;
    font-size: 20px;
    font-weight: 500;
}